@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300&display=swap');
*{
  font-family: 'Urbanist', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.login-card > form{
  padding: 20px 10px;
}
.form-group > label{
  color: #fff;
}
.form-group > small {
  color: #ccc;
}
.login-card{
  background: linear-gradient(45deg, #007bff, #02458e);
        padding: 20px;
        max-width: 600px;
        margin: 30px auto;
        border-radius: 10px;
}
.btn-send{
  background:  #004e00;
  border: none;
  padding:10px;
  color: #fff;
  border-radius: 5px;
  border: solid 2px #004e00;
  transition: all 0.2s;
  cursor: pointer;
  width: 100%;
}
.btn-send:hover{
  background: transparent;
  border: solid 2px #004e00;
  transition: all 0.2s;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
